.container {
  margin-top: 2rem;
  background-color:  lightcyan;
}

.col-md-12 {
  text-align: center;
}

img {
  max-width: 80%;
  border-radius: 610px;
}

.image-left {
  padding-top: 6rem;
  text-align: center;
}
a{
  font-family:'Times New Roman';
  font-size: 16px;
}

a:hover {
  text-decoration: none;
  color: cyan;
}

.content {
  text-indent: 5%;
}

.info-repos p {
  text-indent: 2rem;
}

.table-striped h3 {

  font-size: 70px;
  display: flex;
  justify-content: center;
}

tr {
  font-family: 'Quicksand';
  font-size: 16px;
}

.user-details {
  padding-top: 1rem;
}

.main-content {
  padding-bottom: 5rem;
}

.info-repos {
  text-align: left;
}


a:hover {
  text-decoration: none;
}

td a {
  font-size: 18px;
}

.search-bar p {
  color: rgba(51, 51, 51, 0.61);
  font-size: 13px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  position: sticky;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    height: 80px;
  }
}
